{% extends 'app/base.html' %}

{% block body %}
<div class="container">
    <div class="row my-3">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">Enter a New Password</h3>
            <hr>
            <form method="post" novalidate class="shadow p-4 rounded">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                    <div class="text-danger">{{ form.new_password1.errors }}</div>
                </div>
                <div class="mb-3">
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                    <div class="text-danger">{{ form.new_password2.errors }}</div>
                </div>
                <button type="submit" class="btn btn-primary w-100">Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
